html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #000;
  padding-top: 25px;
}
h2.yellow {
  padding-top: 10px;
  padding-bottom: 10px;
}
h2.lpt {
  padding-top: 0px;
}
h3 {
  font-size: 2em;
  padding: 0px 0 25px;
  line-height: 1.3em;
}
.yellow {
  color: yellow;
}
hr {
  border: 0;
  height: 2px;
  background: yellow;
  width: 45vw;
  margin-bottom: 10px;
  line-height: 1.3em;
}
body {
  color: #fff;
  background-color: #000;
  font-size: 22px;
  line-height: 1.2em;
  font-family: "acumin-pro-extra-condensed", sans-serif;
}
body a {
  color: #ffff99;
  text-decoration: none;
}
body .menu {
  position: fixed;
  top: 33px;
  left: 50px;
  width: 50px;
  height: 50px;
  /*background: url(/images/icon_45019.svg) center center no-repeat;*/
  /*background-size: 100%;*/
  z-index: 20;
  cursor: pointer;
}
body .menu hr {
  width: 57%;
  margin: auto;
  background-color: #fff;
  margin: 7px auto;
  display: block;
}
body .menu:hover hr {
  background-color: yellow;
}
body .cover {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0;
  transition: all 0.5s;
}
body .cover.active {
  opacity: 0.5;
}
body > section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
body > section .wrap {
  width: 100%;
  height: 100vh;
  padding: 37px;
  text-align: center;
  position: relative;
  z-index: 5;
}
body > section > .cover {
  position: absolute;
  opacity: 0.4;
}
body > section.title {
  background-color: #000;
}
body > section .vcenter {
  height: 80vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
body > section .vcenter > div {
  display: inline-block;
  margin: auto;
  text-align: center;
}
body > section > a {
  text-decoration: none;
  display: block;
}
body > section > a:hover {
  color: yellow;
}
body > section .audio {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  font-size: 30px;
  z-index: 20;
}
body > section .audio:after {
  content: "SOUND";
}
body > section .audio:hover {
  color: yellow;
}
body > section .caption,
body > section .text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  z-index: 20;
}
body > section .caption .icon,
body > section .text .icon {
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  z-index: 21;
}
body > section .caption .icon:after,
body > section .text .icon:after {
  content: "COMMENTARY";
}
body > section .caption .icon:hover,
body > section .text .icon:hover {
  color: yellow;
}
body > section .caption .et,
body > section .text .et {
  opacity: 0;
  transition: all 0.5s;
  max-height: 0;
  overflow: hidden;
  padding: 60px 200px;
  line-height: 1.6em;
  font-family: "Lora", serif;
}
body > section .caption:hover .et,
body > section .text:hover .et {
  max-height: 5000px;
  opacity: 1;
}
body > section .caption .icon {
  left: auto;
  right: 0;
}
body > section .caption .icon:after {
  content: "CAPTION";
}
