.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.serif {
  font-family: "minion-pro-condensed", serif;
}
.sans {
  font-family: "acumin-pro-condensed", sans-serif;
}
.bs {
  box-sizing: border-box;
}
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex.flex-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 1.2em;
  font-weight: normal;
}
h2 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #000;
  padding-top: 15px;
  font-weight: bold;
}
h2.yellow {
  padding-top: 10px;
  padding-bottom: 3px;
  font-weight: normal;
}
h2.white {
  color: transparent;
  text-align: center;
  padding-top: 25px;
}
h2.lpt {
  padding-top: 0px;
}
h2.lpb {
  padding-bottom: 0px;
  margin-bottom: -3px;
}
h2.med {
  font-size: 1.3em;
  line-height: 1.1;
}
h2.lrg {
  font-size: 1.5em;
  text-transform: none;
  padding-top: 0px;
}
h2.ttn {
  text-transform: none;
  padding-top: 0px;
}
.up {
  position: relative;
  top: -30px;
}
h3 {
  font-family: "acumin-pro-condensed", sans-serif;
  font-size: 1.3em;
  padding: 0px 0 5px;
  line-height: 1.1em;
}
.yellow {
  color: yellow;
}
hr {
  border: 0;
  height: 3px;
  background: yellow;
  width: 45vw;
  margin-bottom: 10px;
  line-height: 1.3em;
}
body {
  font-family: "acumin-pro-condensed", sans-serif;
  color: #fff;
  background-color: #262626;
  font-size: 28px;
  line-height: 1.2em;
}
body a {
  color: yellow;
  text-decoration: none;
}
body .cover {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0;
  transition: all 0.5s;
}
body .cover.active {
  opacity: 0.5;
  z-index: 4;
}
body.darker .cover.active {
  opacity: 0.8;
}
body.playing .audio {
  display: none;
}
body.playing .audio.playing {
  display: block;
}
.yellow-line {
  border-bottom: 2px solid yellow;
}
.title-page {
  position: relative;
}
.title-page .holder {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 70px;
}
.title-page .scroll {
  position: absolute;
  bottom: 44px;
  width: 100%;
  background: url(../images/down-arrow.svg) center 70px no-repeat;
  background-size: 40px auto;
  padding-bottom: 30px;
}
.jinja .title-page .flex {
  margin-bottom: 130px;
  margin-top: 80px;
}
.jinja .title-page .flex h2 {
  width: 140px;
  text-align: right;
  margin: 0 40px;
}
#main > section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0;
  position: relative;
}
#main > section .wrap {
  width: 100%;
  height: 100vh;
  padding: 51px 0 0;
  text-align: center;
  position: relative;
  z-index: 3;
}
#main > section > .cover {
  position: absolute;
  opacity: 0.4;
}
#main > section.title {
  background-color: #000;
}
#main > section .vcenter {
  height: 80vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -50px;
}
#main > section .vcenter > div {
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
}
#main > section .vcenter > div h2.open,
#main > section .vcenter > div h2 a {
  color: #fff;
  padding-top: 2px;
  cursor: pointer;
}
#main > section .vcenter > div h2.open:hover,
#main > section .vcenter > div h2 a:hover {
  color: yellow;
}
#main > section > a {
  text-decoration: none;
  display: block;
}
#main > section > a:hover {
  color: yellow;
}
#main > section .audio {
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  font-size: 30px;
  z-index: 20;
  cursor: pointer;
}
#main > section .audio:after {
  content: "SOUND";
}
#main > section .audio.playing:hover,
#main > section .audio.playing {
  color: yellow;
}
#main > section .audio.playing:hover:after,
#main > section .audio.playing:after {
  content: "STOP";
}
#main > section .audio.playing {
  position: fixed;
  right: 0;
  top: 0;
}
#main > section .audio:hover {
  color: yellow;
}
#main > section .audio:hover:after {
  content: "PLAY";
}
.last {
  padding: 50px;
  box-sizing: border-box;
  font-family: "minion-pro-condensed", serif;
}
.col-3 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  position: relative;
  z-index: 3;
}
.col-3 > div {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-3 > div:nth-of-type(2) {
  margin: 0 40px;
}
a.social {
  background: url(../images/white_facebook.png) center center no-repeat #3b5999;
  background-size: 90%;
  display: inline-block;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
a.social.twitter {
  background: url(../images/white_twitterbird.png) center center no-repeat #55acee;
  background-size: 80%;
}
.caption,
.text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  z-index: 20;
}
.caption .icon,
.text .icon {
  padding: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  z-index: 21;
  cursor: pointer;
}
.caption .icon:after,
.text .icon:after {
  content: "COMMENTARY";
}
.caption .icon:hover,
.text .icon:hover {
  color: yellow;
}
.caption .et,
.text .et {
  opacity: 0;
  transition: max-height 0.5s;
  transition: opacity 0.5s;
  max-height: 0;
  overflow: auto;
  line-height: 1.6em;
  padding: 0 200px;
  font-family: "minion-pro-condensed", serif;
}
.caption .et h2,
.text .et h2 {
  color: #fff;
}
.caption.active,
.text.active {
  z-index: 19;
}
.caption.active .et,
.text.active .et {
  max-height: 90vh;
  opacity: 1;
  padding: 60px 200px;
}
.caption.active .icon:after,
.text.active .icon:after {
  content: "HIDE TEXT";
}
.caption.hide .icon,
.text.hide .icon {
  display: none;
}
.caption .icon {
  left: auto;
  right: 0;
}
.caption .icon:after {
  content: "CAPTION";
}
.caption.active .et {
  padding: 0px 200px 0px 50px;
  font-family: "acumin-pro-condensed", sans-serif;
  text-align: left;
}
.menu {
  transition: all 0.5s;
  position: fixed;
  top: 59px;
  left: 71px;
  width: 32px;
  height: 32px;
  z-index: 1001;
  /*background: url(/images/icon_45019.svg) center center no-repeat;*/
  /*background-size: 100%;*/
  cursor: pointer;
}
body.open .menu {
  left: 400px;
}
body.open .menu .burger-icon {
  background-color: transparent;
}
body.open .menu .burger-icon:before,
body.open .menu .burger-icon:after {
  background-color: yellow;
}
body.open .menu .burger-icon:before {
  -webkit-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
body.open .menu .burger-icon:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.menu hr {
  width: 57%;
  margin: auto;
  background-color: #fff;
  margin: 7px auto;
  display: block;
}
.menu:hover hr {
  background-color: yellow;
}
.menu .burger-icon {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu .burger-icon,
.menu .burger-icon:before,
.menu .burger-icon:after {
  display: block;
  width: 32px;
  height: 2px;
  background-color: #ffffff;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
.menu .burger-icon:before,
.menu .burger-icon:after {
  position: absolute;
  content: "";
}
.menu .burger-icon:before {
  top: -10px;
}
.menu .burger-icon:after {
  top: 10px;
}
#main {
  transition: all 0.5s;
  left: 0px;
  top: 0px;
  width: 100vw;
}
#basement {
  transition: all 0.5s;
  height: 100vh;
  width: 350px;
  left: -350px;
  overflow: auto;
  position: fixed;
  background-color: #262626;
  z-index: 1000;
}
#basement .mt {
  margin-top: 20px;
}
#basement h2 {
  color: #fff;
  text-transform: none;
  font-weight: normal;
}
#basement h2.yellow {
  color: yellow;
  text-transform: uppercase;
  padding-top: 0;
}
body.open #basement {
  top: 0;
  left: 0;
}
#basement .wrap {
  padding: 37px;
}
#basement ul,
#basement li {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 1024px) {
  .text.active .et {
    padding-left: 250px;
    padding-right: 250px;
  }
}
