<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Incidents (of Travel)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="@owise1">
        <meta property="og:type" content="article">
        <meta property="og:url" content="http://incidents.kadist.org">
        <meta property="og:sitename" content="Incidents (of Travel)">
        <meta property="article:author" content="https://www.facebook.com/kadistonline">
        <meta itemprop="name" content="Incidents (of Travel)">
        <meta property="fb:admins" content="612663871">
        <meta name="description" content="Incidents (of Travel) explores the chartered day-long travel itinerary as a format of artistic encounter and an extended conversation between curator/s and artist/s.">
        <meta property="og:description" content="Incidents (of Travel) explores the chartered day-long travel itinerary as a format of artistic encounter and an extended conversation between curator/s and artist/s.">
        <meta itemprop="description" content="Incidents (of Travel) explores the chartered day-long travel itinerary as a format of artistic encounter and an extended conversation between curator/s and artist/s.">
        <meta property="og:title" content="Incidents (of Travel)">
        <meta property="og:image" content="{{ image }}}">
        <meta itemprop="image" content="{{ image }}}">

        <!-- Place favicon.ico in the root directory -->
        <script src="https://use.typekit.net/kax6snv.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <!--<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>-->
        <!-- <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
           -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="{{ slug }}">
      <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div id="basement">
        <div class="wrap">
          <div class="yellow-line">
            <h2 class="yellow">About</h2>
          </div>
            <h2>
              Incidents (of Travel) explores the chartered day-long travel itinerary as a format of artistic encounter and an extended conversation between curator/s and artist/s.
            </h2>
            <h2>
              An expanded phase of a project conceived by Latitudes (Barcelona) in 2012, this new series of tours is conceived as fieldwork and an expanded studio visit. It is presented as reportage and dispatches from invited curators and artists working around the world.
            </h2>
          <div class="yellow-line mt">
            <h2 class="yellow">Previous</h2>
          </div>
            <h2>Chicago April 2016</h2>
            <h2>
              Curator: Yesomi Umolu
            </h2>
            <h2>
              Artist: Harold Mendez<br/>
              <a  target="_blank" href="/images/chicago/Harold-Itinerary.pdf">Itinerary</a>
            </h2>
            <h2>
              Edited By: Latitudes
            </h2>
            <h2>
              Photos by: Nabiha Khan
            </h2>
        </div>
      </div>
      <div id="main">
        <a class="menu">
          <i class="burger-icon"></i>
        </a>
          <div class="cover"></div>
          {% block content %}{% endblock %}
          <div class="col-3 last">
            <div>
             Incidents (of Travel) explores the chartered day-long travel itinerary as a format of artistic encounter and an extended conversation between curator/s and artist/s.<BR><BR>
An expanded phase of a project conceived by Latitudes (Barcelona) in 2012, this new series of tours is conceived as fieldwork and an expanded studio visit. It is presented as reportage and dispatches from invited curators and artists working around the world. 
<BR><BR>

              <a target="_blank" class="social twitter" href="https://twitter.com/share?url=http://incidents.kadist.org&via=kadistkadist"></a>
              <a target="_blank" class="social " href="https://www.facebook.com/sharer.php?u=http://incidents.kadist.org"></a>

            </div>
            <div>
              {% block footer_col_2 %}{% endblock %}
              
            </div>
            <div>
              {% block footer_col_3 %}{% endblock %}
            </div>
          </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/site.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          //ga('create', 'UA-63208915-3', 'auto');
          //ga('send', 'pageview');

        </script>
    </body>
</html>

