@linkPadding: 50px;
@basementWidth: 350px;

.trans (@speed:0.5s){
    transition: all @speed;
}
@import "../node_modules/less-burger/src/less/less-burger.less";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.serif{
    font-family: "minion-pro-condensed",serif;
}
.sans{
    font-family: "acumin-pro-condensed",sans-serif;
}
h1,h2,h3,h4{
  margin: 0;
}
h1{
  font-size:  1.2em;
  font-weight: normal;
}
h2 {
  font-size:  0.9em;
  text-transform: uppercase;
  color: #000;
  padding-top: 25px;
  font-weight: bold;
  &.yellow{
    padding-top: 10px;
    padding-bottom: 3px;
    font-weight: normal;
  }
  &.white{
      color: transparent;
      text-align: center;
  }
  &.lpt{
    padding-top: 0px;
  }
  &.lrg{
      font-size: 1.5em;
      text-transform: none;
      padding-top: 0px;
  }
  &.ttn{
      text-transform: none;
      padding-top: 0px;
  }
}
h3 {
  .serif;
  font-size:  1.7em;
  padding: 0px 0 25px;
  line-height:  1.3em;
}
.yellow{
  color: yellow;
}
hr{
  border: 0;
  height: 3px;
  background: yellow;
  width: 45vw;
  margin-bottom: 10px;
  line-height:  1.3em;
}
body{
    .sans;
  color: #fff;
  background-color: #000;
  font-size:  28px;

  line-height:  1.2em;

  a{
    color: yellow;
    text-decoration: none; 
  }
  .cover{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0;
    transition: all 0.5s;
    &.active{
      opacity: 0.5;
    }
  }
}
.yellow-line{
    border-bottom: 2px solid yellow;
}
.chicago {
    .title-page{
        position: relative;
        .holder{
            width: 100%;
            box-sizing: border-box;
            padding: 0px 70px;
        }
        .scroll{
            position: absolute;
            bottom: 44px;
            width: 100%;
            background: url(../images/down.svg) center 70px no-repeat;
            background-size: 200px auto;
            padding-bottom: 80px;
        }
        
    }
}
  #main > section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    position: relative; 
    .wrap{
      width: 100%;
      height: 100vh;
      padding: 51px 0 0;
      text-align: center; 
      position: relative; 
      z-index: 5;
    }
    > .cover{
      position: absolute; 
      opacity: 0.4;
    }
    &.title{
      background-color: #000;
    }
    .vcenter{
      height: 80vh;
      display: flex;
      align-items: center;
      > div{
          width: 100%;
        display: inline-block;
        margin: auto;
        text-align: center; 
      }
    }
    > a{
      text-decoration: none; 
      display: block;
      &:hover{
        color: yellow;
      }
    }
    .audio{
      position: absolute; 
      top: 0;
      right: 0;
      padding: @linkPadding;
      font-size:  30px;
      z-index: 20;
      cursor: pointer;
      &:after{
        content: "SOUND";
      }
      &.playing:hover,
      &.playing {
        color: yellow;
        &:after{
            content: "STOP";
        }
      }
      &:hover{
        color: yellow;
          &:after{
              content: "PLAY";
          }
      }
    }

  }
    .caption,
    .text{
      position: absolute; 
      bottom: 0;
      width: 100%;
      padding: 15px;
      z-index: 20;
      .icon{
        padding: @linkPadding;
        position: absolute; 
        bottom: 0;
        left: 0;
        font-size:  30px;
        z-index: 21;
        cursor: pointer;
        &:after{
          content: "COMMENTARY";
        }
        &:hover{
          color: yellow;
        }
      }
      .et{
        opacity: 0;
        transition: max-height 0.5s;
        transition: opacity 0.5s;
        max-height: 0;
        overflow: auto;
        line-height:  1.6em;
        padding: 0 200px;
        .serif;
      }
      &.active{
          z-index: 19;
        .et{
            max-height: 90vh;
            opacity: 1;
            padding: 60px 200px;
        }
      }
      &.active .icon:after{
          content: "HIDE TEXT";
      }
    }
    .caption{
      .icon{
        left: auto;
        right: 0;
        &:after{
          content: "CAPTION";
        }
      }
    }
.menu{
    .trans();
    position: fixed; 
    top: 59px;
    left: 71px;
    width: 32px;
    height: 32px;
    z-index: 1001;
    /*background: url(/images/icon_45019.svg) center center no-repeat;*/
    /*background-size: 100%;*/
    cursor: pointer;
    body.open &{
        left: @linkPadding + @basementWidth;
        .burger-icon{
            .burger-to-cross(2px, 8px, yellow);
        }
    }
    hr{
      width: 57%;
      margin: auto;
      background-color: #fff;
      margin: 7px auto;
      display: block; 
    }
    &:hover{
      hr{
        background-color: yellow;
      }
    }
    .burger-icon{
        .burger(32px, 2px, 8px, #fff);
    }
}
#main{
    .trans();
    left: 0px;
    top: 0px;
    width: 100vw;
    body.open &{
        position: fixed;
        left: @basementWidth;
    }
}
  #basement{
      .trans();
      height: 100vh;
      width: @basementWidth;
      left: -@basementWidth;
      overflow: hidden;
      position: absolute;
      h2{
          color: #fff;
          text-transform: none;
          &.yellow{
              color: yellow;
              text-transform: uppercase;
              padding-top: 0;
          }
      }
      body.open &{
          top: 0;
          left: 0;
          z-index: 1000;
      }
      .wrap{
          padding: 37px;
      }
      ul,li{
          padding: 0;
          margin: 0;
          list-style: none;
      }
  }
@media (min-width:1024px){
    .caption,
    .text{
        &.active .et{
            padding-left: 250px;
            padding-right: 250px;
        }
    }

}
