html,body{
  height: 100%;
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
body{
  color: #fff;
  font-size:  18px;
  line-height:  1.2em;
  font-family: 'Fjalla One', sans-serif;
  a{
    color: #ccc;
  }
  .cover{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #000;
    opacity: 0;
    transition: all 0.5s;
    &.active{
      opacity: 0.5;
    }
  }
  > section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    &.title{
      background-color: #000;
    }
    &.vcenter{
      display: flex;
      align-items: center;
      > div{
        display: inline-block;
        margin: auto;
        text-align: center; 
      }
    }
    > a{
      text-decoration: none; 
      display: block;
      &:hover{
        color: yellow;
      }
    }
    @linkPadding: 50px;
    .audio{
      position: absolute; 
      top: 0;
      right: 0;
      padding: @linkPadding;
      font-size:  30px;
      z-index: 20;
      &:after{
        content: "LISTEN";
      }
      &:hover{
        color: yellow;
      }
    }
    .caption,
    .text{
      position: absolute; 
      bottom: 0;
      width: 100%;
      padding: 15px;
      z-index: 20;
      .icon{
        padding: @linkPadding;
        position: absolute; 
        bottom: 0;
        left: 0;
        font-size:  30px;
        z-index: 21;
        &:after{
          content: "TEXT";
        }
        &:hover{
          color: yellow;
        }
      }
      .et{
        opacity: 0;
        transition: all 0.5s;
        max-height: 0;
        overflow: hidden;
        padding: 50px 200px;
        line-height:  1.6em;
        font-family: "schoolbook-web",serif;
      }
      &:hover .et{
        max-height: 5000px;
        opacity: 1;
      }
      p{

      }
    }
    .caption{
      .icon{
        left: auto;
        right: 0;
        &:after{
          content: "CAPTION";
        }
      }
    }

  }
}
